@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body h1 {
  font-size: 50px;
  font-weight: 700;
}

#side-border {
  border-left: 5px solid red;
}

#side-border h1 {
  margin-left: 10px;
}

body h3 {
  font-weight: 700;
  font-size: 25px;
}
body p {
  font-size: 18px;
}
.felxible-container {
  display: flex;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 8%;
}
.half-width img {
  width: 90%;
}
.yellow-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-color: tomato;
  color: rgb(241, 238, 238);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
}
#center-text p {
  text-align: center;
  padding: 10px 20px;
  font-size: 50px;
  font-weight: 800;
}
.illustrate {
  height: 80%;
  width: 50%;
  padding-left: 20px;
}
#mission {
  background-color: rgb(209, 95, 158);
  margin-left: 80px;
  margin-right: 15px;
  border-radius: 20px;
}
#vission {
  background-color: #fff0f5;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
}

#goals {
  background-color: #8dbe43c4;
  margin-left: 15px;
  margin-right: 80px;
  border-radius: 20px;
}
.mid-bar h3 {
  padding-left: 30px;
}
.mid-bar p {
  padding-left: 30px;
  padding-right: 20px;
}
.bottom-width img {
  width: 360px;
  margin: 80px;
}
.bottom-width02 {
  margin-left: 80px;
}

.bottom-width01 {
  margin-right: 80px;
}
.contact-us {
  text-align: center;
  background-color: rgb(132, 223, 192);
  padding: 5px;
  margin-bottom: 30px;
}
.contact-us input {
  padding: 5px;
  margin: 5px;
}
footer {
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 10px;
}
#ex-title {
  padding-left: 75px;
}
